{% load static %}
<html>
<head>
    <title>Welcome</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" type="image/png" href="{% static 'images/man.png' %}">

    <link rel="stylesheet" href="{%  static 'css/home.css' %}">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>

    <link href="{% static 'css/navbar-top-fixed.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">

    <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>

<!--    <style>-->
<!--      .bd-placeholder-img {-->
<!--        font-size: 1.125rem;-->
<!--        text-anchor: middle;-->
<!--        -webkit-user-select: none;-->
<!--        -moz-user-select: none;-->
<!--        -ms-user-select: none;-->
<!--        user-select: none;-->
<!--      }-->

<!--      @media (min-width: 768px) {-->
<!--        .bd-placeholder-img-lg {-->
<!--          font-size: 3.5rem;-->
<!--        }-->
<!--      }-->
<!--    </style>-->

</head>
<body class="homebody">


<div class="">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

        <a class="navbar-brand" href="{% url 'login' %}">Welcome</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'feedbacks' %}">FeedBack</a>
                </li>
            </ul>
        </div>
    </nav>

</div>


{% block body_block %}

<div id="loginfm" class="">
    <div id="loginfn" class="container">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="username">
                <lable class="">Username:</lable>
                {{form.Username}}
            </div>
            <div class="password">
                <lable class="">Password:</lable>
                {{form.Password}}
            </div>

            <div class="loginb">
                <input id="li" class="btn btn-primary" type="submit" value="Login">
                <div>
                    <small class="smallbns">If You Don't Have Account <a href="{% url 'signup' %}">Sign up</a> Here!</small>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

</body>
</html>