{% load static %}

<html>
<head>
    <title>Home</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" type="image/png" href="{% static 'images/owl.png' %}">

    <link rel="stylesheet" href="{% static 'css/home.css' %}">

<!--    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
<!--    <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>-->

    <link href="{% static 'css/navbar-top-fixed.css' %}" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">

    <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>

<!--    <style>-->
<!--      .bd-placeholder-img {-->
<!--        font-size: 1.125rem;-->
<!--        text-anchor: middle;-->
<!--        -webkit-user-select: none;-->
<!--        -moz-user-select: none;-->
<!--        -ms-user-select: none;-->
<!--        user-select: none;-->
<!--      }-->

<!--      @media (min-width: 768px) {-->
<!--        .bd-placeholder-img-lg {-->
<!--          font-size: 3.5rem;-->
<!--        }-->
<!--      }-->
<!--    </style>-->

    <script src="https://cdn.jsdelivr.net/npm/hls.js"></script>
<!--    <script src="https://cdn.jwplayer.com/libraries/1VcpvWfZ.js"></script>-->


</head>
<body class="mainbody">


<div>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

        <a class="navbar-brand" href="{% url 'welcomeapp:mainpage' %}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'welcomeapp:feedback' %}">FeedBack</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

</div>


{% block body_block %}


<div class="vv">
    <video id="players" poster="{% static 'css/images/road.jpg' %}" controls></video>

</div>

<div class="content">

    <div id="channel_list" class="">
        <table>
            <input class="channel" type="image" name="mksix" src="{% static 'css/images/mksix.png' %}">
            <input class="channel" type="image" name="mktv" src="{% static 'css/images/mk tv.jpg' %}">
            <input class="channel" type="image" name="mktunes" src="{% static 'css/images/mk tunes.jpg' %}">
            <input class="channel" type="image" name="pudhuyugam" src="{% static 'css/images/Puduyugam.jpg' %}">
            <input class="channel" type="image" name="vasanth" src="{% static 'css/images/vasanth.jpg' %}">
            <input class="channel" type="image" name="murasu" src="{% static 'css/images/murasu.jpg' %}">
            <input class="channel" type="image" name="kalaignar" src="{% static 'css/images/kalaignar tv.png' %}">
            <input class="channel" type="image" name="sirippoli" src="{% static 'css/images/Sirippoli_tv.jpg' %}">
            <input class="channel" type="image" name="discovery_tamil" src="{% static 'css/images/discovery tamil.gif' %}">
            <input class="channel" type="image" name="eet" src="{% static 'css/images/eet tv.png' %}">
            <input class="channel" type="image" name="vadhanam_tv" src="{% static 'css/images/vadhanam tv.png' %}">
            <input class="channel" type="image" name="comedy" src="{% static 'css/images/akaram kalatta.png' %}">
            <input class="channel" type="image" name="agaram_tv" src="{% static 'css/images/akaramtv.png' %}">
            <input class="channel" type="image" name="agaram_mix" src="{% static 'css/images/akaram mix.png' %}">
            <input class="channel" type="image" name="krishna" src="{% static 'css/images/krishna tv.png' %}">
            <input class="channel" type="image" name="ragam" src="{% static 'css/images/ragam.jpg' %}">
            <input class="channel" type="image" name="jcv_tv" src="{% static 'css/images/jcv tv.jpg' %}">
            <input class="channel" type="image" name="vidiyal_tv" src="{% static 'css/images/vidiyal tv.jpg' %}">
            <input class="channel" type="image" name="aara_tv" src="{% static 'css/images/aara tv.png' %}">
            <input class="channel" type="image" name="aasai_tv" src="{% static 'css/images/aasai tv.png' %}">
            <input class="channel" type="image" name="anbu_tv" src="{% static 'css/images/anbu1.jpg' %}">
            <input class="channel" type="image" name="csk_tv" src="{% static 'css/images/csk tv.png' %}">
            <input class="channel" type="image" name="jsptv" src="{% static 'css/images/jsp tv.png' %}">
            <input class="channel" type="image" name="suriya_tv" src="{% static 'css/images/suriya tv.png' %}">
            <input class="channel" type="image" name="bama_tv" src="{% static 'css/images/bama tv.png' %}">

        </table>

    </div>

</div>



{% endblock %}

</body>

<script type="text/javascript" src="{% static 'js/player.js' %}"></script>
</html>