.homebody{
background-image: url("images/white.jpg");
min-height: 50rem;
padding-top: 4.5rem;

}
.mainbody{
background-image: url("images/white.jpg");
min-height: 50rem;
padding-top: 4.5rem;

}

#loginfm{

margin-top:50px;
#border:solid 2px orange;
}

.smallbns{
#border:solid;
margin-top:60px;
margin-left:150px;
}


#loginfn{
text-align:center;
#border:solid 2px orange;
}
.username{
margin-top:10px;
#border:solid 2px orange;
}

.password{
margin-top:10px;
margin-right:-5px;
#border:solid 2px orange;
}
.loginb{
margin-top:10px;
margin-right:30px;
#border:solid 2px orange;
}


.regmain{
margin-top:55px;
text-align:left;
#border:solid 2px orange
}

.regun{
margin-top:10px;
#border:solid 2px orange;
}


.t1{
margin-left:49px;
}


.regfn{
margin-top:10px;
#border:solid 2px orange;
}

.t2{
margin-left:51px;
}

.regpw{
margin-top:10px;
#border:solid 2px orange;
}

.t3{
margin-left:54px;
}


.regrpw{
margin-top:10px;
#border:solid 2px orange;
}

.regem{
margin-top:10px;
#border:solid 2px orange;
}

.t5{
margin-left:82px;
}


.regmn{
margin-top:10px;
#border:solid 2px orange;
}

.t6{
margin-left:45px;
}

.signbn{
margin-top:10px;
margin-left:130px;
#border:solid;
}

.smallbn{
margin-top:20px;
}

.content{
#border:solid;
margin-top:10px;
margin-left:5px;
}

.channel{
margin-left: 5px;
margin-bottom: 5px;
width:100px;
height:100px;
border: solid;
border-radius: 3.5px;
background-color:white;
}

#players{
background-color: black;
margin-top: 3px;
margin-left: 5px;
margin-right: 3px;
#position: sticky;

position: relative;
max-width: 98%;
width: 640px;
height: auto;

}

#vv{

position: sticky;
height: 360px;
width: 640px;
max-width: 98%;
margin-left: 3px;
}